{% extends "layoutcaptura.twig" %}

{% block content %}
<h1>Dash Board</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/boot/rodadas/add">Alta Rodada</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/boot/patrocinadores/add">Alta Patrocinadores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/boot/users/add">Alta Usuarios</a>
  </li>
  
</ul>

<li class="nav-item">
    <a class="nav-link" href="/boot/logout">Logout</a>
</li>

{% endblock %}